<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} | [Gateway,%X{traceId},%X{spanId}] [%X{user_id}] | %-5level | %logger{36} | %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="OpenTelemetry"
              class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender"
              >
        <captureMdcAttributes>
            userId
        </captureMdcAttributes>
    </appender>
    <logger name="org.springframework.security.web.server.savedrequest" level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="OpenTelemetry"/>
    </logger>
    <logger name="org.springframework.security.web.server.authentication.AuthenticationWebFilter" level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="OpenTelemetry"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="OpenTelemetry"/>
    </root>
</configuration>